.title{
    color: #56160c;
    background-image: url('../images/bar.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding:.5% 1.2%;
    font-size:100%;
    display: block;
}
.title_name{
    max-width: 100px;
    width: 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    

}